<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>694866895969-4jngujg9pb9tvhrds3bnu6fsoc1ve938.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.694866895969-4jngujg9pb9tvhrds3bnu6fsoc1ve938</string>
	<key>API_KEY</key>
	<string>AIzaSyD9EN1gkrLKeYpz_pc5nMMLX-Os_uHyE6g</string>
	<key>GCM_SENDER_ID</key>
	<string>694866895969</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dimoraDuomo</string>
	<key>PROJECT_ID</key>
	<string>flutter-dimora-duomo</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-dimora-duomo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:694866895969:ios:3b056c456427f904ee3620</string>
</dict>
</plist>